
body {
    
    background-image: url("../images/circles-light.png");

}

header {

    background-color: #ffffff;
    height: 80px;
    border-bottom: solid #777777 1px;
    
}

.header_content {

    width: 960px;
    margin-right: auto;
    margin-left: auto;

}

h1 {

    float:left;
    padding: 25px 30px 25px 30px;
    margin-bottom: 30px;
    background-color: #4aaaa5;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    
}

h2 {

   color: #4aaaa5;
   font-size: 25px;
   font-family: "Georgia", 'Times New Roman', Times, serif;
   font-weight: bold;
   border-bottom: solid #777777 1px;
   margin: 20px 20px 20px 20px;
   padding-bottom: 10px;


}

p {

    text-align: justify;
    color: #777777;
    padding: 20px;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;


}
.topnav {

    float: right;
    padding: 30px 0px 30px 30px;
    margin-bottom: 30px;
    background-color: #ffffff;

}

.container {

    width: 960px;
    margin: 0 auto;
    clear: both;
    background-color: #ffffff;
    border: solid #777777 1px;
    margin-bottom: 100px;
    min-height: 100%;

}

.container:after {

    content: "";
    display: block;
}

.projects {

    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    
}

.place_holder {

    width: 200px;
    height: 200px;
    padding: 0px 10px;
}

form {

    clear: both;
    background-color: #ffffff;
    padding: 20px 30px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777

}

input[type=text] {

   width: 100%;
   margin: 10px 0px;
   height: 20px;
   border: 1px solid #777777;

}

input[type=submit] {

    color:white;
    background-color: #4aaaa5;
    padding: 12px 20px;
    font-size: 20px;
    margin-top: 20px;

}

textarea {

    height: 200px;
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #777777;

}

#bio-image {

    float: left;
    width: 200px;
    height: 200px;
    padding: 20px;
    overflow: auto;

}

a {
    text-decoration: none;
}

.nav-item:link {

    padding-left: 20px;
    text-decoration: none;
    color: #777777;

}

.nav-item:visited {

    text-decoration: none;
    color: #777777;

}

.nav-item:hover {

    text-decoration: underline;
    color: #777777;

}

footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    height: 60px;
    border-top: solid #4aaaa5 3px;

}

@media screen and (max-width: 980px) {
    .header_content{
        width: 90%;
    }

    h1 {
        margin-bottom: 1px;
    }

    .topnav {
        padding: 30px;
    }

    .container {
        width: 90%;
        height: 100%;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 768px) {

    .projects {
        display: inline-block;
        text-align: center;
    }
}

@media screen and (max-width: 654px){

    header {
        width: 100%;
        height: 50px;
    }

    .header_content {
        width: 100%;
        margin: 0;
    }

    h1 {

        font-size: 20px;
        height: 20px;
        padding: 20px 0px;
        width: 100%;
        text-align: center;
        margin: 0 auto;

    }

    .topnav {

        width: 100%;
        height: 10px;
        text-align: center;
        padding: 15px 0px;
        border-bottom: solid 1px #777777;

    }

    #bio-image {
        width: 90%;
        margin: auto;
        height: auto;
    }

    h2 {
        text-align: center;
    }

    footer {

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #666666;
        height: 40px;
        border-top: solid #4aaaa5 3px;
    
    }

    .nav-item:link {
        padding-left: 5px;
        padding-right: 5px;
    }
}
