
body {

    width: 960px;
    background-image: url("/assets/images/circles-light.png");
    margin-left: auto;
    margin-right: auto;
}

header {

    float:left;
    display: inline;
    padding: 20px 30px 20px 30px;
    margin-bottom: 30px;
    background-color: #4aaaa5;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    color: white;
    font-size: x-large;
    

}

h2 {

   color: #4aaaa5;

}

.topnav {

    float: right;
    padding: 20px 30px 20px 30px;
    margin-bottom: 30px;
    background-color: #ffffff;

}

.container {

    clear: both;
    background-color: #ffffff;

}

form {

    clear: both;
    background-color: #ffffff;

}

#bio-image {

    display: inline;
    float: left;
    width: 200px;
    height: 200px;

}

a:link {

    text-decoration: none;
    color: #777777;
    padding: 0px 10px;

}

a:hover {

    text-decoration: underline;
    color: #777777;

}

a:visited {

    text-decoration: none;
    color: #777777;

}